@* Copyright © 2017 SOFTINUX. All rights reserved.
    Licensed under the MIT License, Version 2.0. See License.txt in the project root for license information.
*@

@using Security.Common.Enums
@using System.Linq

@model Security.ViewModels.Permissions.GrantViewModel
@* HTML Extension list loop *@
@{
    int i = 1;
    foreach (var item in Model.PermissionsByRoleAndScope)
    {
        <div class="row extension-row accordion-toggle collapsed" data-entity-id="@Html.Raw(item.Key)" data-toggle="collapse" data-target=@Html.Raw("\"#extension" + i + "\"")>
            <div class="col-md-6">
                <div class="row extension-row-height">
                    <div class="col-md-1 table-extension-header"><i class="chevron fa fa-fw"></i></div>
                    <div class="col-md-3 table-extension-header">@Html.Raw(item.Key)</div>
                    <div class="col-md-2 table-extension-header">&nbsp;</div>
                    <div class="col-md-1 table-extension-header">&nbsp;</div>
                    <div class="col-md-1 table-extension-header">&nbsp;</div>
                    <div class="col-md-1 table-extension-header">&nbsp;</div>
                </div>
                <div class="row collapse" id=@Html.Raw("\"extension" + i + "\"") onclick="StopAccordionsPropagation(event);">
                    <div class="col-md-12">
                        @* html into roles list loop *@
                        @foreach (var subitem in item.Value)
                        {
                            <div class="row" data-entity-role-id="@Html.Raw(item.Key+ "_" + subitem.Key)">
                                <div class="col-md-2 cell-heigth-25" align="right">
                                    @if (item.Value.ElementAt(0).Key.Equals(subitem.Key)) {@Html.Raw("Role name: ")}
                                </div>
                                @* Role name *@
                                <div class="col-md-4 cell-heigth-25 cell-role-row">@Html.Raw(subitem.Key)</div>
                                @* admin checkbox *@
                                <div class="col-md-1 cell-heigth-25 cell-role-row">
                                    <label class="checkbox-container">
                                        <input id="@Html.Raw(item.Key + "_" + subitem.Key + "_" + "admin")" type="checkbox"
                                         @if(subitem.Value.Contains(Permission.Admin)) {@Html.Raw("checked")} onclick="checkClick()">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                @* write checkbox *@
                                <div class="col-md-1 cell-heigth-25 cell-role-row">
                                    <label class="checkbox-container">
                                        <input id="@Html.Raw(item.Key + "_" + subitem.Key + "_" + "write")" type="checkbox"
                                         @if(subitem.Value.Contains(Permission.Write)) {@Html.Raw("checked")}
                                         @if(subitem.Value.Contains(Permission.Admin)) {@Html.Raw("disabled=\"true\"")} onclick="checkClick()">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                @* read checkbox *@
                                <div class="col-md-1 cell-heigth-25 cell-role-row">
                                    <label class="checkbox-container">
                                        <input id="@Html.Raw(item.Key + "_" + subitem.Key + "_" + "read")" type="checkbox"
                                         @if(subitem.Value.Contains(Permission.Read)) {@Html.Raw("checked")}
                                         @if(subitem.Value.Contains(Permission.Write)) {@Html.Raw("disabled=\"true\"")} onclick="checkClick()">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                @* end loop roles list*@
            </div>
        </div>
        ++i;
    }
    @* End extension list loop*@
}