@* Copyright © 2017-2019 SOFTINUX. All rights reserved.
    Licensed under the MIT License, Version 2.0. See License.txt in the project root for license information.
*@

@using System.Collections.Specialized
@using Microsoft.AspNetCore.Identity
@using SoftinuxBase.Security.Data.Entities
@using SoftinuxBase.Security.FeatureAuthorize.Extensions
@using SoftinuxBase.Security.Permissions
@using SoftinuxBase.Security.Permissions.Enums
@model SoftinuxBase.Security.ViewModels.Permissions.GrantViewModel

@Html.AntiForgeryToken()
@inject UserManager<User> UserManager

@{
    var canEditRoles = this.User.HasPermission(typeof(Permissions), (short) Permissions.EditRoles);
    var isDisabled = !canEditRoles;

    <table class="table table-head-fixed table-hover">
        <thead>
        <tr>
            <th class="text-muted">Extension</th>
            <th class="text-muted">Permissions and roles</th>
        </tr>
        </thead>
        <tbody>

        @foreach (var extensionName in Model.RolesWithPermissions.Keys)
        {
            <tr data-extension-id="@Html.Raw(extensionName)">
                <td>
                    <i class="fas fa-cubes"></i>
                    <span>@Html.Raw(extensionName)</span>
                </td>
                <td>
                    <div id="accordion">
                        @foreach (var permissionSection in Model.GetPermissionSectionsForRoles(extensionName))
                        {
                            <div class="card">
                                <div class="card-header" id="@Html.Raw(permissionSection.ToId())">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#@Html.Raw(permissionSection.ToId())-data" aria-expanded="false" aria-controls="@Html.Raw(permissionSection.ToId())-data">
                                            @Html.Raw(permissionSection)
                                        </button>
                                    </h5>
                                </div>

                                <div id="@Html.Raw(permissionSection.ToId())-data" class="collapse" aria-labelledby="@Html.Raw(permissionSection.ToId())" data-parent="#accordion">
                                    <div class="card-body">
                                        @foreach (var permissionDisplayWithRoles in Model.GetPermissionDisplaysWithRoles(extensionName, permissionSection))
                                        {
                                            <div>
                                                @permissionDisplayWithRoles.Key.ShortName
                                                <span class="text-muted">: @permissionDisplayWithRoles.Key.Description</span>
                                            </div>
                                            <select class="form-control select2bs4 update-role-permission" multiple data-placeholder="Select roles" disabled="@isDisabled">
                                                @foreach (var role in Model.RoleNames)
                                                {
                                                    if (permissionDisplayWithRoles.Value.Contains(role))
                                                    {
                                                        <option value="@(role)" data-permission="@(permissionDisplayWithRoles.Key.PermissionEnumValue)" data-extension="@(extensionName)" selected="selected">@(role)</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@(role)" data-permission="@(permissionDisplayWithRoles.Key.PermissionEnumValue)" data-extension="@(extensionName)">@(role)</option>
                                                    }
                                                }
                                            </select>
                                            <br/>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </td>
            </tr>
        }
        </tbody>
    </table>
}


@section Scripts {
    <script type="text/javascript">
   
    </script>

}

