@* Copyright © 2017-2019 SOFTINUX. All rights reserved.
    Licensed under the MIT License, Version 2.0. See License.txt in the project root for license information.
*@

@using System.Collections.Specialized
@using SoftinuxBase.Security.Permissions
@model SoftinuxBase.Security.ViewModels.Permissions.GrantViewModel

@Html.AntiForgeryToken()

<div>
    Testing select2.org:
    @* https://select2.org/ *@
    <select id="testSelect2" multiple="multiple">
        <option value="role1">Role1</option>
        <option value="role2">Role2</option>
        <option value="role3" selected>Role3</option>
        <option value="role4" selected>Role4</option>
    </select>
</div>

@{
    var roleCount = Model.RoleNames.Count;
    <table class="table table-head-fixed table-hover">
        <thead>
        <tr>
            <th class="text-muted">Extension</th>
            <th class="text-muted">Permissions and roles</th>
        </tr>
        </thead>
        <tbody>

        @foreach (var extensionName in Model.RolesWithPermissions.Keys)
        {
            <tr data-extension-id="@Html.Raw(extensionName)">
                <td>
                    <i class="fas fa-cubes"></i>
                    <span>@Html.Raw(extensionName)</span>
                </td>
                <td>
                    <div id="accordion">
                        @foreach (var permissionSection in Model.GetPermissionSectionsForRoles(extensionName))
                        {
                            <div class="card">
                                <div class="card-header" id="@Html.Raw(permissionSection.ToId())">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#@Html.Raw(permissionSection.ToId())-data" aria-expanded="false" aria-controls="@Html.Raw(permissionSection.ToId())-data">
                                            @Html.Raw(permissionSection)
                                        </button>
                                    </h5>
                                </div>

                                <div id="@Html.Raw(permissionSection.ToId())-data" class="collapse" aria-labelledby="@Html.Raw(permissionSection.ToId())" data-parent="#accordion">
                                    <div class="card-body">
                                        @foreach (var permissionDisplay in Model.GetForRoles(extensionName, permissionSection))
                                        {
                                            <div>
                                                @permissionDisplay.ShortName
                                            </div>
                                            <div class="text-muted">@permissionDisplay.Description</div>
                                            <br/>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </td>
            </tr>
        }
        </tbody>
    </table>
}


@section Scripts {
    <script type="text/javascript">
   
    </script>

}