@* Copyright © 2017 SOFTINUX. All rights reserved.
    Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information.
*@
@using Infrastructure
@using Microsoft.AspNetCore.Identity
@using Security.Data.Entities

@inject UserManager<User> UserManager

@section title
{
    <h2>User Profile</h2>
}

<div class="row">
    <div class="col-md-3">
        @* Profile Image *@
        @* .box *@
        <div class="box box-primary">
            @* .box-body *@
            <div class="box-body box-profile">
                <img class="profile-user-img img-responsive img-circle" src="/img/profile-circle2-128.png" alt="User profile picture">

                <h3 class="profile-username text-center">@UserManager.GetUserAsync(User).Result.LastName&nbsp;@UserManager.GetUserAsync(User).Result.FirstName</h3>

                <p class="text-muted text-center">@UserManager.GetUserAsync(User).Result.Email</p>

                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>User Name: </b> <a class="pull-right">@UserManager.GetUserAsync(User).Result.UserName</a>
                    </li>
                    <li class="list-group-item">
                        <b>Last connexion: </b> <a class="pull-right">@UserManager.GetUserAsync(User).Result.LastConnection</a>
                    </li>
                    <li class="list-group-item">
                        <b>Two factor authentifaction enabled: </b> <a class="pull-right">@UserManager.GetUserAsync(User).Result.TwoFactorEnabled</a>
                    </li>
                    <li class="list-group-item">
                        <b>Email confirmed: </b> <a class="pull-right">@UserManager.GetUserAsync(User).Result.EmailConfirmed</a>
                    </li>
                </ul>
            </div>
            @* /.box-body *@
        </div>
        @* /.box *@
    </div>
    <div class="col-md-9">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#details" data-toggle="tab">Detail</a>
                </li>
                <li>
                    <a href="#groups" data-toggle="tab">Groups</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="active tab-pane" id="details">
                    <h3><i class="fa fa-globe" aria-hidden="true"></i>&nbsp;&nbsp;Profile Information</h3>
                    <form id="profile_form" class="form-horizontal">
                        <fieldset id="profile_form_fieldset" form="profile_form" disabled>
                            <div class="form-group">
                                <label for="inputPicture" class="col-sm-2 control-label">Profile Picture </label>
                                <div class="col-sm-10">
                                    <input type="file" class="form-control" id="inputAvatar" placeholder="Avatar" accept=".png, .jpg, .jpeg" value="@UserManager.GetUserAsync(User).Result.FirstName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputFirstname" class="col-sm-2 control-label">First Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputFirstname" placeholder="First Name" value="@UserManager.GetUserAsync(User).Result.FirstName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputLastname" class="col-sm-2 control-label">Last Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputLastname" placeholder="Last Name" value="@UserManager.GetUserAsync(User).Result.LastName" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="tel" class="form-control" id="inputEmail" placeholder="Email" value="@UserManager.GetUserAsync(User).Result.Email" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPhone" class="col-sm-2 control-label">Phone</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" data-inputmask="mask: +32(9[99])[9]99-99-99" data-mask="" value="@UserManager.GetUserAsync(User).Result.PhoneNumber">
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button id="cancel_save_profile_btn" class="btn btn-danger hidden">Cancel</button>
                                <button id="save_profile_btn" class="btn btn-primary">Edit</button>
                            </div>
                        </div>
                    </form>

                    <h3><i class="fa fa-globe" aria-hidden="true"></i>&nbsp;&nbsp;Change Password</h3>
                    <form id="pwd_form" class="form-horizontal">
                        <fieldset id="pwd_form_fliedset" form="pwd_form" disabled>
                            <div class="form-group">
                                <label for="inputActualpassword" class="col-sm-2 control-label">Actual Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="inputActualpassword" placeholder="Old password" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputOldpassword" class="col-sm-2 control-label">Old Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="inputOldpassword" placeholder="Old password" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputNewpassword" class="col-sm-2 control-label">New Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="inputNewpassword" placeholder="New password" />
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button id="change_pwd-btn" class="btn btn-primary">Change</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="groups">
                    <h3><i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;My Groups</h3>
                    <h4>My Claims</h4><br/>
                    @Html.Partial("_ListClaims")
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        @*$(selector).inputmask("phone", {
            onKeyValidation: function () { //show some metadata in the console
                console.log($(this).inputmask("getmetadata")["city"]);
            }
        });*@

        $(function() {
            $("#save_profile_btn").click(function(event) {
                event.preventDefault();
                if ($("#profile_form_fieldset").prop("disabled")) {
                    $("#profile_form_fieldset").removeAttr('disabled');
                    $("#save_profile_btn").prop("disabled", true);
                    $("#cancel_save_profile_btn").prop("visible", true);
                }
            });

            $("#cancel_save_profile_btn").click(function(event) {
                event.preventDefault();
                $("#profile_form_fieldset").prop('disabled', true);
                $("#save_profile_btn").prop("disabled", false);
                $("button#save_profile_btn").text("Edit");
                $("#cancel_save_profile_btn").addClass("hidden");
                $("#save_profile_btn").removeClass("btn-success").addClass("btn-primary");
                $("#profile_form")[0].reset();
            });

            $("#profile_form :input").bind("keyup change paste", function() {
                $("#save_profile_btn").prop("disabled", false);
                $("#save_profile_btn").removeClass("btn-primary").addClass("btn-success");
                $("button#save_profile_btn").text("Save");
                $("#cancel_save_profile_btn").removeClass("hidden");
            });
        });

        function btn_state(fieldset, btnid) {

        }
    </script>

}
