@using Microsoft.Extensions.Options;
@using Infrastructure;
@inject IOptions<BaseApplicationConfiguration> OptionsApplicationConfiguration

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@Html.Raw(this.ViewBag.Title as string)</title>
    @await Component.InvokeAsync("StyleSheets")
    @await Component.InvokeAsync("Scripts")
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <header class="header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <img src="/img/@Html.Raw(this.ViewBag.CorporateLogo as string)" width="30" height="30" alt="" class="brand-logo d-inline-block align-top">
                    <span class="brandlogotext">@Html.Raw(this.ViewBag.CorporateName as string)</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav mr-auto">
                        @await Component.InvokeAsync("Menu")
                    </ul>
                    <ul class="nav navbar-nav">
                        <li>
                            <!-- <span>@Html.ActionLink("Sign Out", "SignOut", "Account")&nbsp;<i class="fa fa-sign-out fa-lg fa-fw" aria-hidden="true"></i></span> -->
                            <a href="@Url.Action("SignOut", "Account")">
                                Sign Out
                                <span><i class="fa fa-sign-out fa-lg fa-fw" aria-hidden="true"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
                </nav>
        </header>
        @*<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                @await Component.InvokeAsync("Menu")

            </ul>
            <ul class="nav navbar-nav">
                <li>
                    @Html.ActionLink("Sign Out", "SignOut", "Account")
                </li>
            </ul>
        </div>*@
    }

    <!-- Page container -->
    <div class="container">
        @RenderSection("title", false)
        @RenderBody()
        <span>@OptionsApplicationConfiguration.Value.CorporateName</span>
    </div>
</body>
</html>